* {
 color: #fff;
 font-family: arial, helvetica, serif;
}
#master {
	/*background-color: #d3d3d3;*/
	background-color: #000;
	width: 960px;
	min-height: 100%;
	margin: auto;
}
#topo {
	width: 100%;
	height: 215px;
/*	background: url(imagens/banner2.jpg) no-repeat;*/
}
#imagem_topo {
	margin: 0 0 0 115px;

}
#nav, #nav * {
	margin: 0;
	padding: 0;
}
#nav {
		background-color: #000;
		width: 100%;
		float: left;
/*		margin-left: 116px;*/
		border: #900 solid 1px;
}
#nav li {
	float: left;
	list-style-type: none;
}

#nav li a {
	display: block;
	text-decoration: none;
	margin-right: 50px;
}
#nav ul li {
position: relative;
}
#nav ul li ul {
	position: absolute;
	/*left: 10em;*/
	top: 20px;
	padding-bottom: 15px;
	display: none;
}
#nav ul li a {
	display: block;
}
#nav ul li:hover ul, #nav ul li.over ul {
	display: block;
}
#conteudo {
/*Mudar quando colocar o gerenciador de noticias min-height:100%*/
	min-height: 300px;
	width: 730px;
	border:#fff solid 2px;
	float:left;
	margin-left: 115px;
	-moz-border-radius: 25px;
	padding: 15px; 0 0 15px;
	}
#rodape {
	clear: both;
	background-color: #000;
	margin-left: 332px;
}
#conteudo, #nav, #topo {
	margin-bottom: 15px;
}