* {
 color: #fff;
 font-family: arial, helvetica, serif;
}
#master {
	background-color: #000;
	width: 960px;
	min-height: 100%;
}
#menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#menu ul li {
	display: inline;
	
}
#rodape {
	clear: both;
}

