* {
 color: #fff;
 font-family: arial, helvetica, serif;
}
#master {
	background-color: #d3d3d3;
	width: 960px;
	min-height: 100%;
}
#topo{
	width: 728px;
	height: 215px;
	
/*	background: url(imagens/banner2.jpg) no-repeat;*/
}
#imagem_topo {
	-moz-border-radius: 25px;
}
#menu {
		background-color: #000;
}
#menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#menu ul li {
	display: inline;
	
}
#rodape {
	clear: both;
	background-color: #000;
}

